#PersonDiv{
    margin: 0px;
    height: 100%;
    width: 15%;
    background-color: #cccccc;
    display: inline-block;
    float: left;
}
#ChatDiv{
    width: 700px;
    height: 100%;
    float: left;
    display:inline-block;
    float: left;

}
div.chat{
    padding: 5px;
    float: left;
    height: 100px;
    width: 100px;
}
div.ceo{
    padding: 5px;
        float: right;
}
div.fillOut{
    float:left;
    height: 100px;
    width: auto;
    overflow: hidden;
}
input.chat{
    margin-top: 500px;
    width: auto;
    text-align: center;

}
.second {
  background: #ccc;
  float: none;
  overflow: hidden;
}
p.border {
    padding: 5px;
    border-size: 5px;
    border-radius: 7px;
    border-style: solid;
    border-color: grey;
    background-color: grey;
}

#div{
  display: flex;
}
#box{
    height: 100%;
    background-color:blue;
}
#conversationBlock{
    width: 100%;
    height: 200px;
}

