
.homeDiv{
    display:flex;
}
.newsBlock{
    width: 50%;
    height: 90%;
    margin: 10px;
    text-align: left;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
    overflowY: scroll;
}
.listItem{
    border-bottom: 1px dashed gray;
}
.quiz button{
    padding: 10px;
    background-color: #7FC6B7;
    border-radius: 10px;
    color: white;
}
.standardDivList{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: lightgray;
    margin-top: 10px;
    border-radius: 10px;
}
.hrObject{
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}
.pdfItemDiv{
    padding: 1px;
}
.pdfItem{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 200px;
    margin-bottom: 20px;
}
h1.underline{
    text-decoration: underline;
}
h1 {
    color: #246f94;
}
img{
    max-width: 80%;
    border-radius: 50px;
}
img.graph{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
h3{
    font-size: 18px;
}
.console {
    padding: 10px;
    color: white;
    background-color: black;
}
.console:focus{
    color: white;
    background-color: black;
}

