.content {
    height: 100vh;
    background-color: #c9b394;
    display: flex;
    justify-content: center;
    align-items: center;
}


.postlist {
    height: 100vh;
    background-color: hsl(47, 34%, 74%);
    width: 70%;
    text-align: center;
    position: center;
    overflow-y: auto;
}

.post {
    width: 80%;
    position: center;
    background-color: hsl(47, 28%, 66%);
    border: 2px solid rgb(0, 0, 0);
    text-align: left;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;  
    padding: 10px;
    overflow-y: visible;
}

.post-date {
    list-style: none;
    margin:0px;
    padding:0px;
    text-align: right;
    position:relative;
    bottom:0;
    right:0;
}

.post-name {
    text-align: left;
    font-weight: bold;
}

.post-content {
    font-weight: normal;
}

.background{
    height: fit-content;
    background-color: hsl(93, 40%, 60%);
    display: flex;
    justify-content: center;
}

.content a {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.tab {
    text-decoration: underline;
}
.home{
    display: block;
    width: 100%;
    height: 50%;
    max-height: 500px;
    overflow: none;
}
.news{
    display: block;
    border-size: 5px;
    border-style: solid;
    padding: 10px;
    border-radius: 15px;
    background-color: lightgray;
    margin: 10px;

}
.news p{
    text-align: left;
}
.newsBlock{
    display: block;
    height: 100%;
    width: 49%;
    background-color: lightblue;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-size: 10px;
    float: left;
}
.quiz{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.quiz button{
    padding: 10px;
    background-color: #7FC6B7;
    border-radius: 10px;
    color: white;
}
.graphs{
    float: left;
    width: 49%;
}
.hr{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: lightgray;
    border-style: solid;
    margin-top: 10px;
    border-radius: 10px;
}
.hrObject{
    border-size: 10px;
    border-style: solid;
    border-radius: 15px;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}
.documentList{
    display: block;
    width: 25%;
    height: 100%;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;


}
.pdf{
    padding: 10px;
    background-color: lightseagreen;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 140px;
}
h1 {
    color: #246f94;
}
