
.homeDiv{
    display:flex;
    height: 90%;
}
.newsBlock{
    width: 50%;
    height: 90%;
    margin: 10px;
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}
.listItem{
    border-bottom: 1px dashed gray;
    border-top: 1px dashed gray;
    margin-left: 10px;
    font-size: 20px;
}
.newsHeader{
    margin-left: 10px;
}
.quiz button{
    padding: 10px;
    background-color: #7FC6B7;
    border-radius: 10px;
    color: white;
}
.standardDivList{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-height: 80%;
    background-color: white;
    margin-top: 10px;
    border-radius: 5%;
    position: relative;
    display: block;
    border: 3px solid white;
    padding: 5px;
}
.hrObject{
    background-color: lightblue;
    margin: 10px;
    height: 60%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px gray;
    padding: 10px;
}
.pdfItemDiv{
    padding: 1px;
}
.pdfItem{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 200px;
    margin-bottom: 20px;
}
.pdfItem {
  background-color: lightblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 300px;
  border-radius: 2px;
  box-shadow: 4px 4px black;
}
.pdfItem:hover{
    background-color: #33adff;
}
h1.underline{
    font-family: Verdana,serif;
    font-size: 35px;
}
h1 {
    color: #246f94;
    font-family: Verdana,serif;
    font-size: 35px;
}
img{
    max-width: 80%;
    border-radius: 50px;
    box-shadow: 2px 2px gray;
}
img.graph{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
img.news{
    width: 40%;
    border-radius: 0;
}
img.progress-bar-image{
    padding: 5px;
    min-width: 100%;
    height: 40px;
    box-shadow: none;
}
div.progress-bar-div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    position: relative;
}
div.progress-bar-removal{
    background-color: lightgray;
    float: right;
    height: 30px;
    right: 0px;
    top: 5px;
    position: absolute;
    padding: 5px;

}
p.newsText{
    margin-top: 10px;
    font-size: 15px;
    color: black;
}
h3{
    font-size: 18px;
}
.smallConsole {
    padding: 10px;
    color: white;
    background-color: black;
    width: 200px;
    border: none;
    border-radius: 5px;
}
.smallConsole:focus{
    color: white;
    background-color: black;
}
.switchAccount{
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 10px;
    background-color: #0d5d92;
    color: white;
}
.switchAccount:hover{
    background-color: #069ac6;
}
/* Popup style */
.popup-box {
  position: fixed;
  background: #00000090;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 25%;
  margin: 0 auto;
  height: auto;
  margin-top: calc(100vh - 85vh - 20px);
  background: lightgray;
  border-radius: 25px;
  padding: 50px;
  border: 1px solid #999;
  overflow: auto;
}
.box input[type=text]{
    width: 90%;

    border: none;
    border-radius: 10px;
}
.box input[type=password]{
    width: 90%;
    border:none;
    border-radius: 10px;
}
.box input[type=submit]{
    margin-top: 20px;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
.box input[type=submit]:hover{
    background-color: #069ac6;
}
.box p{
    margin-top: 10px;
}
button{
    background-color: #0d5d92;
}



