.homeDiv{
    display:flex;
    height: 90%;
}
.newsBlock{
    width: 80%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #24647f;
    padding: 10px;
    border-radius: 10px;
    overflow: scroll;
    position: relative;
    margin-top: 10px;
    color: white;
}
.list{
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    margin-left: 10px;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}
.listItem{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.newsHeader{
    margin-left: auto;
    margin-right: auto;
}
.quiz button{
    padding: 10px;
    background-color: #7FC6B7;
    border-radius: 10px;
    color: white;
}
.hrObject{
    background-color: white;
    margin: 10px;
    max-height: 40%;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px gray;
    padding: 10px;
    display: block;
    word-wrap: break-word;
}
.pdfItemDiv{
    padding: 1px;
}

.pdfItem {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 300px;
  border-radius: 2px;
  box-shadow: 4px 4px black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}
.pdfItem:hover{
    background-color: #33adff;
}
h1 {
    color: white;
    font-family: Verdana,serif;
    font-size: 35px;
}

h1.underline{
    font-family: Verdana,serif;
    font-size: 35px;
    position: relative;
}

img{
    max-width: 80%;
    border-radius: 50px;
    box-shadow: 2px 2px gray;
}
img.graph{
    max-width: 40%;
    max-height: 60%;
    border-radius: 10px;
    margin: 10px;
}
img.news{
    width: 80%;
    border-radius: 0;
    object-fit: cover;
}
img.lock{
    width: 5vh;
    box-shadow: none;
}
img.lock:hover{
    content: url(../images/LockGray.png);
}
.underlineDiv{
    border: 1px solid white;
    margin-bottom: 10px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.lockedArchiveDiv{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.lockedArchive{
    color: white;
}
p.newsText{
    margin-top: 10px;
    font-size: 15px;
    color: white;
    text-align: left;
}

.smallConsole {
    padding: 10px;
    color: white;
    background-color: black;
    width: 200px;
    border: none;
    border-radius: 5px;
}
.smallConsole:focus{
    color: white;
    background-color: black;
}
.switchAccount{
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10px;
    background-color: white;
    color: black;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.switchAccount:hover{
    background-color: #069ac6;
}
h2{
    color: white;
    font-size: 22px;
}
h3{
    color: black;
}
li {
    list-style-type: none;
}