html {
    overflow-y: scroll;
}

body {
    font-family: 'Lato', sans-serif;
    background-color:#a6a6a6;
}

.header {
    opacity: 90%;
    height: 500px;
    width: 1400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    background-image: url("../img/header.png"); /* Standard header if nothing is assigned */
    margin-left: auto;
    margin-right: auto;
    background-attachment: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}


h1 {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 100px;
    color: #246f94;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    font-weight: normal;
    color: #246f94;
    font-weight: normal;
    text-align: center;
}

a {
    font-size: 18px;
}

.content {
    background-color: #e6e6e6;
    margin-left: auto;
    margin-right:auto;
    width: 1400px;
    display: flex;
    flex-direction: column;
}

.center-content {
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    text-align: center;
}

.center-content a {
    font-weight: normal;
    margin: 0 0% 30px;
    width: 50%;
}

.homepage-img {
    width: 33%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.homepage-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

#center-homepage-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px auto 30px;
}

.content-right-content {
    margin-top: 50px;
}

.content-right-img {
    float: left;
    width: 40%;
    margin-left: 5%;
}

.content-right-img img {
    width: 100%;

    height:auto;
}

.content-right-desc {
    float: right;
    width: 40%;
    margin-right:5%;
}

.content-left-content {
    margin-top: 100px;
}

.content-left-desc {
    float: left;
    width: 40%;
    margin-left:5%;
}
.content-left-img {
    float: right;
    width: 40%;
    margin-right: 5%;
}
.content-left-img img {
    width: 100%;
    height: auto;
}

#slideshow-container {
    height: 100%;
    width: 44%;
    float: right;
    margin: auto;
    margin-right: 50px;
    align-items: center;
}

.slide-img {
    position: relative;
    text-align: center;
    background-color: white;
    width: 100%;
}

.slide-img div {
    display: flex;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: white;
  }

.slide-img span {
    color: transparent;
    opacity: 30%;
    user-select: none;
}

#future-right {
    float: right;
    width: 64%;
    height: 520px;
    padding: 2%;
}

#future-left {
    float: left;
    width: 30%;
    height: 500px;
    padding: 2% 0 2% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#future-left-top {
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
}

#future-left-bottom {
    width: 100%;
    height: 50%;
}


#team-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

#team-content h1 {
    font-weight: normal;
    margin-bottom: 20;
    width: 100%;
    text-align: center;
    color: #246f94;
}

.team-member {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.team-member img {
    width: 275px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}

.team-member a {
    margin-top: 15px;
}
.lyra_img{
border-right: 1px solid blue;
border-bottom: 1px solid blue;
}