.header {
    height: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    background-image: url("../img/header.jpg");
    background-attachment: fixed;
}

.header a {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 64px;
    color: white;
}

.aboutUs-header {
    height: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    background-image: url("../img/about-us.jpg");
    background-attachment: fixed;
    border: 2px solid black;
     padding: 25px;

     background-repeat: no-repeat;
     background-size: 100% 85%;
}
.aboutUs-header a {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 64px;
    color: lightseagreen;
}


.content {
    background-color: lightgray; /*Temp background color*/
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

/* ------------------------------- Home Page CSS ------------------------------- */


#intro-content {
    margin-top: 30px;
}

#intro-img {
    float: left;
    width: 50%;
    text-align: center;
}
#intro-img img{
    width:600px;
    height: 400px;
}

#intro-desc {
    float: right;
    width: 50%;
}

#intro-desc h1 {
    font-weight: normal;
    color: #246f94;
}

#home-content {
    margin-top: 100px;
    margin-left:50px;
    
}

#goal-img {
    /* background-color: red; */
    float: left;
    width: 60%;
    text-align: center;
}

#goal-img img {
    height: 400px;
    width: 600px;
    /* object-fit: scale-down; */
}
#home-left-desc {
    /* background-color: blue; */
    float: left;
    width: 50%;
}

#home-left-desc h1 {
    font-weight: normal;
    color: #246f94;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
#home-right-desc {
    /* background-color: blue; */
    float: right;
    width: 50%;
}

#home-right-desc h1 {
    font-weight: normal;
    color: #246f94;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

#tech-content {
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px auto 30px;
}

#tech-content h1 {
    font-weight: normal;
    margin-bottom: 20;
    width: 100%;
    text-align: center;
    color: #246f94;
}
#tech-content a {
    font-weight: normal;
    margin: 0 25% 30px;
    width: 50%;
    text-align: center;
}

.tech-img {
    width: 33%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

.tech-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}



/* ------------------------------- Our Work CSS ------------------------------- */

#current-content {
    margin-top: 50px;
}

#current-img {
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
}

#current-img img {
    width: 90%;
    margin-left: 50px;
    height: auto;
}

#current-desc {
    float: right;
    width: 50%;
    margin: auto;
    margin-right: 5%;
}

#current-desc h1 {
    font-weight: normal;
    color: #246f94;
}

#past-content {
    margin-top: 100px;
}

#past-desc {
    float: left;
    width: 39%;
    padding-left: 50px;
}

#past-desc h1 {
    font-weight: normal;
    color: #246f94;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

#slideshow-container {
    /* background-color: lightseagreen; */
    height: 100%;
    width: 50%;
    float: right;
    margin: auto;
    margin-right: 50px;

}

.slide-img {
    position: relative;
    text-align: center;
    background-color: white;
    width: 800px;
}

.slide-img div {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: white;
  }

.slide-img span {
    color: transparent;
    user-select: none;
}

/* #slideshow-container {
    height: 100%;
    width: 50%;
    float: right;
    margin: auto;
    margin-right: 50px;
}

#slideshow-slide {
    display: flex;
    width: 100%;
}

#slideshow-slide img {
    height: 100%;
    width: 100%;
} */


#future-content {
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 60px auto 30px;
}

#future-content h1 {
    font-weight: normal;
    margin-bottom: 20;
    width: 100%;
    text-align: center;
    color: #246f94;
}
#future-content a {
    font-weight: normal;
    margin: 0 25% 30px;
    width: 50%;
    text-align: center;
}

#future-right {
    float: right;
    width: 64%;
    height: 520px;
    padding: 2%;
}

#future-left {
    float: left;
    width: 30%;
    height: 500px;
    padding: 2% 0 2% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#future-left-top {
    width: 100%;
    height: 50%;
    padding-bottom: 20px;
}

#future-left-bottom {
    width: 100%;
    height: 50%;
}


/* ------------------------------- About Us CSS ------------------------------- */
.aboutUs-section {
    background-color: lightgray; /*Temp background color*/
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
#aboutUs-goals-img{
    margin-left:10%;
    float: left;
    text-align: center;
}
#aboutUs-goals-img img{
    height: 300px;
    width: 500px;
}
#aboutUs-environment-img{
    margin-right:10%;
    float: right;
    text-align: center;
}
#aboutUs-environment-img img{
     height: 300px;
     width: 500px;
}

.aboutUs-content{
    margin-top: 50px;
}
.aboutUs-content a {
    /*margin-left: 50px;*/
}
.aboutUs-content h1{
    font-weight: normal;
    width: 100%;
    text-align: left;
    color: #246f94;
    font-size:41px;
}
#aboutUs-goals-desc{
    position:relative;
    margin-left:2%;
    float:left;
    width:500px;
}
#aboutUs-env-desc{
    margin-right:2%;
    position:relative;
    float:right;
    width:500px;
}

#team-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

#team-content h1 {
    font-weight: normal;
    margin-bottom: 20;
    width: 100%;
    text-align: center;
    color: #246f94;
}

.team-member {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.team-member img {
    width: 275px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}

.team-member a {
    margin-top: 15px;
}


/* ------------------------------- Tab FourOne CSS ------------------------------- */


/* ------------------------------- Tab FourTwo CSS ------------------------------- */


/* ------------------------------- Tab FourThree CSS ------------------------------- */


/* ------------------------------- Temporary CSS ------------------------------- */
.temp {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    height: 500px;
    margin-top: 100px;
}