.topbar {
  position: relative;
  top: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;

}

#topbar-ul {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#topbar-li {
  float: left;
  margin-right: auto;
  margin-left: auto;
}
#topbar-li-Right{
    float: right;
}
  
.topbar a {
  display: block;
  color: black;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  
}

.topbar a:hover {
  background-color: darkslategray;
  color: white;
}

.topbar a.active {
  background-color: #24647f;
  color: white;
}
.menyDiv{
    background-color: #24647f;
    padding: 10px;
    display: relative;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.internalHeader{
    color: #24647f;
    font-size: 40px;
}
.dropdown .dropdown-button {
  background-color: inherit;
  color: white;
  font-size: 16px;  
  font-family: inherit;
  border: none;
  padding: 14px 16px;
  outline: none;
}

.dropdown:hover {
  background-color: darkslategray;
}

.dropdown-content {
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown-content a {
  color: white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover:not(.active) {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
