.header-style {
    height: calc(100vh - 100px);
    width: 100%;
} 

.header-style h1 {
    width: 75%;
}

#home-button { 
    font-size: 30px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 30px auto;
    padding: 10px;
}