/* Popup style */
.popup-box {
  position: fixed;
  background: #24647f;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: scroll;
}

.box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: 70%;
  margin-top: 10vh;
  background: white;
  border-radius: 25px;
  padding: 3%;
  border: 1px solid #999;
  overflow: auto;
  color: black;
}
.box input[type=text]{
    width: 90%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.box input[type=password]{
    width: 90%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}
.box input[type=submit]{
    margin-top: 20px;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}
.box input[type=submit]:hover{
    background-color: #069ac6;
}
.box p{
    margin-top: 10px;
}
button{
    background-color: #0d5d92;
}
img.progress-bar-image{
    padding: 5px;
    width:100%;
    height: 3vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    object-fit: cover;
}
div.progress-bar-div{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    position: relative;
}
div.progress-bar-removal{
    background-color: white;
    float: right;
    height: 3vh;
    right: -5px;
    top: 5px;
    position: absolute;
    padding: 5px;
}
img{
    border-radius: 20px;
}
.logInHeader{
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 6vw;
    margin-top: 0%;
    font-style: none;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #fff;
}
.logInForm{
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
.logInForm label{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}
