
.header-content {
    height: 13vh;
    width: 100%;
    margin: 0;
    background: repeating-linear-gradient( 45deg,hsl(93, 40%, 60%), hsl(93, 27%, 45%), 1px,hsl(93, 40%, 60%) 1px);
}

.image-text-logo {
    height: 9vh;
    width: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
}
