.console {
    padding: 10px;
    color: white;
    background-color: black;
    width: 600px;
}
.console:focus{
    color: white;
    background-color: black;
    border-radius: none;
}
.commandBlock{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background-color: black;
    width: 600px;
    color: white;
    border: 1px solid gray;
    padding: 5px;
    line-height: 60%;
    overflow: scroll;
    margin-top: 20px;
}
.commandBlock p {
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    overflowY: scroll;
}
.block{
    height: 50px;
    background-color: white;
}