.footer-content {
    background-color: #1e6c93;
    color: white;
    height: 100px;
    width: 100%;
}

#left {
    float: left;
    padding-top: 15px;
    padding-left: 20px;
    
}

#left ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

#right {
    float: right;
    padding-top: 15px;
    padding-right: 20px;

}
